#stars:before {
  content: "";
  background-color: currentColor;
  display: inline-block;
  margin-right: 0.2rem;
  vertical-align: text-top;
  width: 0.9rem;
  height: 0.9rem;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: var(--md-source-stars-icon);
  mask-image: var(--md-source-stars-icon);
}

.chart-container {
  position: relative;
  margin: 30px 0;
  width: 80%;
}

.highlight .ow {
  color: var(--md-code-fg-color);
}

.highlight a + .kt {
  color: var(--md-code-fg-color);
}

.brackets-viewer h1 {
  margin-top: 10px;
  color: rgba(0,0,0,.54) !important;
}